body {
    overflow: hidden;
}

.about-container {
    display: flex;
    position: relative;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
}

.about-container img {
    height: 600px;
    border-bottom: 25px;
    border-right: none;
}

.about-container .about {
    margin-top: 2.5%;
    margin-left: 7%;
}

.about-container h1 {
    letter-spacing: 3px;
    font-style: italic;
    color: #4e295d;
    font-size: 30px;
}

.about-container p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500 !important;
    font-style: italic;
    letter-spacing: 1px;
    color: #4e295d;
    border-left: 5px solid #4e295d;
    padding-left: 20px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.068);
    width: 100%;
    padding: 20px;
    font-size: 15px;
}

.footer .socials ul {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #4e295d;
    padding-left: 10px;
}

.footer .socials ul li {
    list-style: none;
    display: flex;
    margin: 3px;
}

.footer .socials ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

.copyright p{
    font-family: monospace;
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 100px;
}

.footer .address {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #4e295d;
    padding-left: 5px;
}

.footer .address a {
    text-decoration: none;
    color: black;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

@media (max-width: 1220px) { 
    .about-container img {
        height: 450px;
    }
}

@media (max-width: 1092px) {
    .about-container img {
        height: 440px;
    }

    .about-container .about p {
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    .about-container img {
        height: 430px;
    }

    .about-container .about p {
        font-size: 12px;
    }
}

@media (max-width: 953px) { 
    .about-container img {
        height: 420px;
    }
}

@media (max-width: 921px) { 
    .about-container img {
        height: 400px;
    }
}

@media (max-width: 890px) { 
    .about-container img {
        height: 380px;
    }
}

@media (max-width: 870px) { 
    .about-container img {
        display: none;
    }

    .about-container {
        margin-top: 15vh;
    }

    .about {
        padding-right: 20px;
    }

    .about p {
        font-size: 14px;
    }
}

@media (max-width: 770px) { 

    .logo a {
        color: #4e295d;
    }

    .burger div{
        background-color: #4e295d;
    }

    .nav-links-mobile {
        background-color: #ffffff !important;
        padding: 2px;
        padding-top: 60px;
        height: 230px;
    }
    
    .nav-links-mobile li {
        background-color: rgb(254, 243, 255)
    }

    .nav-links-mobile li a {
        color:#4e295d;
    }

    .footer {
        padding: 20px;
        font-size: 11px;
    }
    
    .footer .socials ul {
        border-left: 2px solid #4e295d;
        padding-left: 5px;
    }
    
    .copyright p{
        font-size: 10px;
        padding-left: 50px;
    }
    
    .footer .address {
        display: flex;
        flex-direction: column;
        border-left: 2px solid #4e295d;
        padding-left: 5px;
    }
}

@media (max-width: 668px) { 
    .copyright p{
        font-size: 8px;
        padding-left: 5px;
    } 
}

@media (max-width: 425px) { 

    .about-container {
        margin-top: 20px;
    }

    .about p {
        font-size: 3px;
    }

    .footer {
        padding: 10px;
        font-size: 9px;
    }

    .copyright p{
        font-size: 8px;
        padding-left: 30px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding: 10px;
        font-size: 9px;
    }

    .copyright p{
        font-size: 8px;
        padding-left: 30px;
    }
}