body {
    overflow: hidden !important;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.contacts-container .git {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.git h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
    letter-spacing: 1px;
    color: #4e295d;
}

.git p {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}

.git a {
    background-color: #4e295dda;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    margin-top: 20px;
    z-index: 100;
}

.contacts-container img {
    position: absolute;
    height: 480px;
    width: 790px;
    bottom: 0;
}


@media (max-width: 770px) { 
    
    .logo a {
        color: #4e295d;
    }
    
    .burger div{
        background-color: #4e295d;
    }

    .nav-links-mobile {
        background-color: #ffffff !important;
        padding: 2px;
        padding-top: 60px;
        height: 230px;
    }
    
    .nav-links-mobile li {
        background-color: rgb(254, 243, 255)
    }
    
    .nav-links-mobile li a {
        color:#4e295d;
    }

    .git h1 {
        font-size: 35px;
    }

    .git p {
        font-size: 17px;
    }

    .git a {
        font-size: 15px;
        padding: 5px 0px;
    }

    .contacts-container img {
        height: 400px;
        width: 600px;
    }
}

@media (max-width: 570px) {
    .git h1 {
        font-size: 30px;
    }

    .git p {
        font-size: 15px;
    }

    .git a {
        font-size: 13px;
        padding: 8px 8px;
    }

    .contacts-container img {
        height: 300px;
        width: 500px;
    }
} 

@media (max-width: 425px) {
    .contacts-container {
        margin-top: 10%;
    }

    .git h1 {
        font-size: 30px;
    }

    .git p {
        font-size: 15px;
    }

    .git a {
        font-size: 13px;
        padding: 8px 8px;
    }

    .contacts-container img {
        height: 300px;
        width: 400px;
    }
}

@media (max-width: 375px) { 
    .contacts-container img {
        height: 250px;
        width: 350px;
    }
}