.table-container {
    position: absolute;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.table-container h1 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 5%;
    left: 6%;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
    color: #4e295d;
    padding-left: 20px;
    border-left: 5px solid #4e295d !important;
}

.table-container table {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    border-color: #4e295d !important;
    color: #4e295d;
}

th {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    border-color: #4e295d !important;
}

.table-container table tr td {
    height: 100px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    border-color: #4e295d !important;
}

.with-img {
    position: relative;
    width: 270px;
}

.with-img img {
    position: absolute;
    left: 0;
    top: 0;
}

.with-img a {
    position: absolute;
    left: 45%;
    top: 40%;
    color: black;
    text-decoration: none;
}

.table-container img {
    height: 100px;
    width: 100px;
    padding: 5px;
    border-right: 1px solid black;
    border-color: #4e295d !important;
}

.total td{
    height: 40px !important;
    border-bottom: none !important;
}

.check-out {
    height: 30px !important;
    font-size: 12px;
    background-color: #4e295d;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    border: none !important;
}

.check-out:hover {
    background-color: green;
}

.fa-solid {
    cursor: pointer;
}

@media (max-width: 770px) { 

    .logo a {
        color: #4e295d;
    }

    .burger div{
        background-color: #4e295d;
    }

    .nav-links-mobile {
        background-color: #ffffff !important;
        padding: 2px;
        padding-top: 60px;
        height: 230px;
    }
    
    .nav-links-mobile li {
        background-color: rgb(254, 243, 255)
    }

    .nav-links-mobile li a {
        color:#4e295d;
    }

    .table-container {
        margin-top: 10vh;
    }

    .table-container h1 {
        font-size: 18px;
    }

    .table-container th {
        font-size: 13px;
    }
    
    .table-container td {
        font-size: 12px;
    }
}

@media (max-width: 485px) {
    .with-img img {
        display: none;
    }

    .with-img a {
       left: 2%;
    }
} 